/* ////////////////////////////// Importing the Font \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');


/* ////////////////////////////// Root Styles \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
:root {
    --main-font: 'Germania One', cursive;
}


/* ////////////////////////////// Resetting and Setting \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

body {
    background-color: #FFFFFF;
}


/* ////////////////////////////// Header that displays the title \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.header {
    display: flex;
    margin: 16px 32px;
}

#game-title {
    font-size: 48px;
    margin-right: 16px;
}


/* ////////////////////////////// button \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

button.return {
    margin: 0 64px;
    transform: scale(0.8);
}

.btn {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #000000;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 24px;
}

.btn:hover {
    box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.335);
    cursor: pointer;
    background-color: #3985ae;
}


/* ////////////////////////////// Container that displays the scores \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.scores {
    display: flex;
    width: 600px;
    margin: 16px auto 32px auto;
    font-size: 32px;
}

[class^='player'] {
    display: flex;
    margin: 0 24px;
    padding: 8px 16px;
    border-radius: 16px;
    box-shadow: 4px 4px 40px 5px rgba(0, 0, 0, 0.1);
}

[class^='player'] > p {
    margin-right: 32px;
}


/* ////////////////////////////// The Main / Game Section \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
main {
    transform: scale(0.9);
}


/* ////////////////////////////// Container that displays the game grid \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.game-grid {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 407px;
    height: 407px;
    margin: 0 auto;
}

[class^='game-box'] {
    background-color: #EEEEEE;
    border-radius: 16px;
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
}

[class^='game-box']:hover {
    background-color: #DDDDDD;
    box-shadow: 4px 4px 25px 5px #55555532;
    transform: scale(1.04);
}

[class^='game-box'] > img {
    width: 75px;
}


/* ////////////////////////////// Container that displays the round \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.round > p {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 32px;
}


/* ////////////////////////////// Score / game modes \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.current {
    background-color: rgb(243, 189, 156);
    box-shadow: 4px 4px 20px 5px rgba(244, 138, 72, 0.407);
}
.current:hover {
    background-color: rgb(242, 167, 120);
    box-shadow: 4px 4px 20px 5px rgba(244, 138, 72, 0.407);
}

.tie {
    background-color: rgb(237, 223, 130);
    box-shadow: 4px 4px 20px 5px rgba(237, 223, 130, 0.407);
}
.tie:hover {
    background-color: rgb(238, 220, 106);
    box-shadow: 4px 4px 20px 5px rgba(237, 223, 130, 0.407);
}

.won {
    background-color: rgb(102, 202, 110);
    box-shadow: 4px 4px 20px 5px rgba(102, 202, 110, 0.407);
}
.won:hover {
    background-color: rgb(74, 199, 84);
    box-shadow: 4px 4px 20px 5px rgba(102, 202, 110, 0.407);
}

.lost {
    background-color: rgb(244, 134, 134);
    box-shadow: 4px 4px 20px 5px rgba(243, 73, 73, 0.407);
}
.lost:hover {
    background-color: rgb(241, 99, 99);
    box-shadow: 4px 4px 20px 5px rgba(243, 73, 73, 0.407);
}


/* ////////////////////////////// Display message \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
section.display-msg {
    background-color: #FFFFFF;
    border: 10px solid #000000;
    position: absolute;
    /* z-index: 1; */
    top: -2rem;
    left: 16%;
    width: 60rem;
    height: 38rem;
    margin: 0 auto;
    border-radius: 16px;
}

.hidden {
    display: none;
}

section > h2 {
    text-align: center;
    font-size: 4rem;
    padding-top: 16px;
}

section > p.congrats {
    text-align: center;
    font-size: 2rem;
    padding-top: 1.5em;
}

#emoji {
    width: 20em;
    padding: 0 20em;
}


/* ////////////////////////////// footer \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 4px 4px 25px 5px #55555532;
    padding: 4px 0 8px 32px;
}

footer > p {
    text-transform: uppercase;
    font-size: 16px;
}

footer > p > a {
    text-decoration: none;
    color: #000000;
    padding: 0 8px;
} 

footer > p > a:hover {
    font-size: 20px;
}

footer > p > a:active {
    text-decoration: none;
    color: inherit;
}

span.heart {
    color: rgb(207, 62, 62);
}

